main {
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 200px;
    gap: 8px;
}

main img {
    width: 100%;
    /*her kan du ikke bruke 100vh, fordi bildet skal bare fylle ut column, ikke hele nettleseren*/
    height: 100%;
    object-fit: cover;
    /*object-position: right bottom;
    object-fit sier at bildet skal tilpasse seg rammen, object position sier hvilken del av bildet som skal vektlegges i crop*/
}

.col-2 {
    grid-column: span 3;
    /*strekker seg ut over flere kolonner*/
}

.row-2 {
    grid-row: span 3;
    /*strekker seg ut over flere rader*/
}